<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show</title>
</head>
<body>
	<%= @profile.name %>
	<br>
	<%= @profile.bio %>
	<br>
	<%= link_to "New Item", :new_item %>
	<h3>MY ITEMS</h3>
	<ul class="list-unstyled">
		<% @my_items.each do |i| %>
			<li>
				<%= link_to i.name, item_path(i.id) %>
				<%= i.description %>
				<%= i.item_type.kind %>
				</li>
				<% end %>
	</ul>
	<h4>NEARBY ITEMS</h4>
	<ul class="list-unstyled">
		<% @items.each do |i| %>
			<li>
				<%= link_to i.name, item_path(i.id) %>
				<%= i.description %>
				<%= i.item_type.kind %>
				</li>
				<% end %>
	</ul>
</body>
</html>