<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show</title>
</head>
<body>
<div class="container-fluid">
	<div class="row nav-bottom">
	</div>
	<div class="row">
		<div class="col-xs-9">
			<div class="row logo-row">
				<img src="/logo2.png" class="logo">
			</div>
			<div class="row item-view">
				<h4>NEARBY ITEMS</h4>
				<ul class="list-unstyled">
					<% @items.each do |i| %>
						<li>
						<%= link_to i.name, item_path(i.id) %>
						<br>
						<img src="<%= i.itempicture_url %>" style="width: 200px;">
						<br>
						<%= i.description %>
						<%= i.item_type.kind %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-xs-3 nav-col">
			<img src="<%= @profile.profilepicture_url %>" style="width: 300px;" class="img-rounded">
			<br>
			<i class="fa fa-user navname">
			<h4 class="navname">
				<%= @profile.name %>
			</h4>
			</i>
			<br>
			<i class="fa fa-globe navloc"></i>
			<h6 class="navloc">
				<%= @profile.location %>
			</h6>
			<br>
			<%= @profile.bio %>
			<br>
			<%= link_to "Edit Profile", :edit_profile, class: "btn btn-xs btn-primary" %>
			<%= link_to "Add New Item", :new_item, class: "btn btn-xs btn-warning" %>
			<h3 class="myitems-header">MY ITEMS</h3>
			<ul class="list-unstyled">
				<% @my_items.each do |i| %>
					<li>
						<i class="fa fa-cubes myitem-link"></i>
						<%= link_to i.name, item_path(i.id), class: "myitem-link" %>
						<br>
						<%= i.description %>
						<strong><%= i.item_type.kind %></strong>
					</li>
				<% end %>
			</ul>
		</div>		
	</div>
</div>
</body>
</html>