<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show</title>
</head>
<body>
	<%= @profile.name %>
	<%= @profile.bio %>
	<ul>
		<%= @items.each do |i| %>
			<li>
				<%= i.title %>
				<%= i.description %>
				</li>
				<% end %>
	</ul>
</body>
</html>