<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Equipment</title>
</head>
<body>
	<div class="container-fluid bg-grey">
		<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-6 item-col">
			<i class="fa fa-cubes fa-5x item-header"></i>
			<h1 class="item-header"><%= @item.name %></h1>
			<br>
			<%= @item.description %>
			<br>
			<%= @item.isForSale %>
			<%= @item.price %>
			<br>
			<img src="<%= @item.itempicture_url %>" alt="" style="width: 600px;" class="img-rounded item-pic">
			<br>
			<% if current_user %>
			<%= link_to "Edit Item", :edit_item, class: "btn btn-lg btn-info" %>
			<% end %>
				<div class="row">
				<h4> Comments: </h4>
				<ul>
				<% @comments.each do |c| %>
					<li>
					<% p c%>
					User: <%= c.profile.name %><br>
					Subject: <%= c.subject %>
					<br>
					Body: <%= c.body %>
					</li>
				<% end %>
				</ul>
				<span class="row comment-form">
				<%= form_for [@item, @newcomment] do | comment |%>
					<%= comment.label :subject %><br>
					<%= comment.text_field :subject %><br>

					<%= comment.label :body %><br>
					<%= comment.text_field :body %><br>

					<%= comment.submit %>
				<% end %>
				</span>
				</div>
			</div>
			<div class="col-xs-1">
			</div>
			<div class="col-xs-2 tag-col">
			<i class="fa fa-tags fa-2x tag-header"></i>
			<h3 class="tag-header">Tags:</h3>
			<ul>
			<% @data_hash.each do |data| %>
				<li>
					Tag Type <%= data[1][:name] %><br>
					Tag Count <%= data[1][:count] %>
				</li>
			<% end %>
			</ul>
				<div class="row tag-form">
					<i class="fa fa-tag fa-1x"></i>
					<%= form_for [@item, @tag] do | t |%>
					<%= t.label :tag %>
					<br>
					<%= t.select :tag_type_id, options_from_collection_for_select(TagType.all, 'id', 'description') %>
					<br>
					<%= t.submit %>
					<% end %>
				</div>
			</div>
			<div class="col-xs-1">
			</div>
		</div>
	</div>	
</body>
</html>