<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Audio</title>
</head>
<body>
	<div class="container-fluid bg-grey">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-7 item-col">
			<i class="fa fa-cubes fa-5x item-header"></i>
			<h1 class="item-header"><%= @item.name %></h1>
			<br>		
			<%= @item.description %>
			<br>
			
			<audio src="<%= @item.audiofile_url %>"></audio>
			
			<br>
			<img src="<%= @item.itempicture_url %>" alt="" style="width: 200px;">
			<% if current_user %>
			<%= link_to "Edit Item", :edit_item, class: "btn btn-lg btn-info" %>
			<% end %>
			<div class="row">
			<h4> Comments: </h4>
			<ul>
			<% @comments.each do |c| %>
				<li>
				<% p c%>
					User: <%= c.profile.name %><br>
					Subject: <%= c.subject %>
					<br>
					Body: <%= c.body %>
				</li>
			<% end %>
			</ul>
				<div class="row comment-form">
				<%= form_for [@item, @newcomment] do | comment |%>
					<%= comment.label :body %><br>
					<%= comment.text_field :body %><br>
					<%= comment.label :subject %><br>
					<%= comment.text_field :subject %><br>
					<%= comment.submit %>
				<% end %>
				</div>
			</div>
		</div>
		<div class="col-xs-3 tag-col">
			<h4>Tags:</h4>
			<ul>
			<% @data_hash.each do |data| %>
				<li>
					Tag Type <%= data[1][:name] %><br>
					Tag Count <%= data[1][:count] %>
				</li>
			<% end %>
			</ul>
			<%= form_for [@item, @tag] do | comment |%>
				<%= comment.label :tag %><br>
				<%= comment.select :tag_type_id, options_from_collection_for_select(TagType.all, 'id', 'description') %><br>
				<%= comment.submit %>
			<% end %>
			</div>
		</div>	
	</div>
</body>
</html>