<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Equipment</title>
</head>
<body>
SHOWING EQUIP
	<%= @item.name %>
	<%= @item.description %>
	<%= @item.isForSale %>
	<%= @item.price %>
	<br>
	<img src="<%= @item.itempicture_url %>" alt="" style="width: 200px;">
	<ul>
		<% @comments.each do |c| %>
			<li>
			<% p c%>
				User: <%= c.profile.name %><br>
				Subject: <%= c.subject %>
				<br>
				Body: <%= c.body %>
			</li>
		<% end %>
	</ul>
	<%= form_for [@item, @newcomment] do | comment |%>
	<%= comment.label :body %><br>
	<%= comment.text_field :body %><br>

	<%= comment.label :subject %><br>
	<%= comment.text_field :subject %><br>

	<%= comment.submit %>

	<% end %>

	</body>
</html>