<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<ul class="list-inline nav-top">
	<li><%= link_to "Sign Out", :destroy_user_session , :method => :delete %></li>
	<li><%= link_to "Back", :back%></li>
	<li><%= link_to "Profile", profile_path(current_user.profile.id) %></li>
</ul>
<hr>
<% end %>
<%= yield %>

</body>
</html>
